.title{
  margin: 0 auto;
}
.title-wrap{
  width:100%;
  padding-bottom: 10px;
}
.titleSeparator {
  width: 70px;
  height: 4px;
  margin: 20px auto;
  background: #063d37;
}
.date{
  font-size: x-large;
  color: rgb(88, 90, 92);
  padding: 10px;
}
.body{
  padding-bottom: 100px;
  background-image: radial-gradient(circle, #65c0c4, #6acec7, #75dbc6, #87e8c3, #9df4be);
}
.trash{
  color: rgb(205, 50, 50);
  padding: 10px;
}
.timing{
  color: rgb(5, 69, 87);
  padding:0px 25px;
  background-color: #30050517;
  font-size: 20px;
}
.timeinput{
  padding:20px 0px 0px 0px;
  font-weight: bold;
}
.sub{
  display: flex;
  justify-content: space-around;
  margin-top:30px;
  margin-bottom: 40px;
}
.inpt{
  font-size: 25px;
}
.inppt{
  padding:7px 0px;
  
}